.temp-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-temp-charts,
.past-24h-charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.current-temp-chart,
.past-24h-chart {
  width: 200px;
  height: 200px;
  margin: 0 10px 20px 10px;
}

/* Updated CSS for responsive design */
.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: auto;
  margin: 10px 0;
}

.charts-wrapper > div {
  margin: 10px;
}

.small-machine-id text {
  font-size: 15px;
}
